body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, purple, blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.result-container {
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 20px 0;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #facc15;
  cursor: pointer;
  font-weight: bold;
}
